.project-status {
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  padding: 10px;
  width: 100px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  border-radius: 5px;
}
