.lp-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-primary;

  .inner {
    width: 80%;
    margin: auto;
    display: grid;

    row-gap: 40px;
    grid-template-areas:
      'main main'
      'stats phone';

    @include lg {
      row-gap: 70px;
      grid-template-areas:
        'main phone'
        'stats stats';
    }
  }

  .main-content {
    width: 100%;
    grid-area: main;

    .media-wrap {
      display: flex;
      gap: 25px;
    }
  }

  .phone-wrap {
    width: 30vw;
    grid-area: phone;
    position: relative;
    height: 20vh;

    @include lg {
      height: auto;
    }
  }

  .stat-wrap {
    grid-area: stats;
    display: flex;

    flex-direction: column;
    gap: 20px;
    align-self: end;

    @include lg {
      flex-direction: row;
      gap: 5vw;
    }
  }
}

.lp-title {
  margin-bottom: 15px;
  font-size: 3em;

  @include md {
    font-size: 3.5em;
  }

  @include lg {
    font-size: 4em;
  }

  @include xl {
    font-size: 5em;
  }
}

.lp-sub,
.lp-sub > span > h2 {
  width: 500px;
  height: 30px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: start;

  font-size: 30px;

  @include sm {
    font-size: 35px;
    height: 40px;
  }

  @include md {
    font-size: 40px;
    height: 50px;
  }

  @include lg {
    font-size: 45px;
    height: 60px;
  }

  @include xl {
    font-size: 55px;
  }
}

.highlight {
  color: $color-highlight;
}

.lp-p {
  margin: 40px 0;
  font-weight: 500;
  color: $color-text-secondary;

  font-size: 1em;

  @include sm {
    font-size: 1.1em;
  }

  @include md {
    font-size: 1.3em;
  }

  @include lg {
    font-size: 1.5em;
  }
}
